:root {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

*,
::before,
 ::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

body *+* {
    margin-top: 1.5em;
}

.container {
    margin: 0 auto;
}

.head {
    display: flex;
    background-color: #1F2937;
    align-items: center;
}

.head>h3 {
    flex: 1;
    font-size: 1.5em;
    color: #F9FAF8;
    text-align: center;
}

.head-links {
    display: flex;
    flex: 1;
    margin-left: auto;
    list-style: none;
}

.head-links>li {
    font-size: 1.125em;
    color: #E5E7EB;
    margin: 0 1.5em;
}

.head-main {
    background-color: #1F2937;
    display: flex;
    margin: 0;
    padding: 6em;
    justify-content: center;
    align-items: center;
}

.main-text,
.main-img {
    flex: 1;
    padding: 0;
    margin: 0;
}

.main-text {
    display: flex;
    flex-direction: column;
    padding: 0 6em;
}

.main-text>h1 {
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 3em;
}

.main-text>p {
    font-size: 1.125em;
    color: #E5E7EB;
}

.main-text>button {
    color: #E5E7EB;
    font-size: 1.25em;
    background-color: #3882F6;
    width: 25%;
    border-radius: .4em;
    padding: .5em 1.5em;
}

.main-img {
    background-color: #e5e7eb6c;
}

.main-img>p {
    color: #E5E7EB;
    width: 400px;
    height: 300px;
}